


.deals .carousel{
  margin: auto;
}
.deals .carousel-item{
  height: auto;
}

.carousel-content {
  position: absolute;
  bottom: 10%;
  left: 5%;
  z-index: 20;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  font-size: 2.2rem;
}

.card{
  text-align: center;
}
.card a{
  color: #1d7f9f;
}
.card a:hover{
  color: #1d7f9f;
}

h4.card-title{
  font-family: 'PT Sans Narrow', sans-serif;
}

hr {
  margin: 4rem;
}

.list-group-horizontal .list-group-item {
    display: inline-block;
}
.list-group-horizontal .list-group-item {
  margin-bottom: 0;
  margin-left:-4px;
  margin-right: 0;
}
.list-group-horizontal .list-group-item:first-child {
  border-top-right-radius:0;
  border-bottom-left-radius:4px;
}
.list-group-horizontal .list-group-item:last-child {
  border-top-right-radius:4px;
  border-bottom-left-radius:0;
}


.redeem-button{
  padding: 1rem;
  align-self: center;
  border: 1px solid #1d7f9f;
  border-radius: 10px;
}
.redeem-button:hover{
  background-color: #ecf3f5;
}

/*old*/


body {
  font-family: 'Lato' !important;
  width: 100%;
  position: relative;
  min-height: 100%;
  padding-top: 22vh;
}

.deals-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1700px;
  margin: auto;

  font-family: 'PT Sans Narrow', sans-serif;
}

.deal, .deal-show{
  position: relative;
  display: block;

  border: 1px solid grey;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  margin-top: 20px;
}
.deal-show{
  margin-bottom: 100px;
}
.deal-show .text-center{
  margin: 20px;
}

.deal {
  max-width: 450px;
  opacity: 0.8;
  body {
    font-family: 'Lato' !important;
    padding-top: 4.1rem;
  }
}

@media only screen and (max-width: 800px) { .deal{ width: 95%; } }
@media only screen and (max-width: 1200px) and (min-width: 801px) {.deal{width: 45%; } }
@media only screen and (min-width: 1201px) {.deal{width: 30%; } }

.deal:hover{
  opacity:1;
  border: 1px solid black;
}

.deal-left{
  width: 50%;
  float:left;
}
.deal-right{
  width: 50%;
  float:right;
}

.deal a, .deal-show a{
  color: #1d7f9f;
  text-decoration: none;
}

.deal p{
  text-align: right;
}

.deal img{
  max-height: 200px;
  max-width: 100%;
  display: block;
  margin: auto;
}
.deal-image-div{
  height: 250px;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.deal-show img{
  display: block;
  margin: auto;
  max-width: 100%;
}

.deal .progressbar-container{
  display: flex;
  position: absolute;
  border: 1px solid grey;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
}

.deal .progressbar{
  transition: width .5s;

  text-align: right;
  font-size: xx-small;
  height: 10px;

  background: rgba(0,200,0,0.5);
  border: none;
  border-radius: 5px;
}

.deal .progressbar-hidden{
  flex: 1;
  height: 10;
  position: absolute;
}

.deal .progress-percent{
  position: absolute;
  top: 0;
  right: 0;
  font-size: small;
  line-height: 10px;
}

.deal h3, .deal-show h3{
  margin:  0;
}

/*.deals-filter{
  display: block;
  width: initial;
  text-align: center;
}
.deals-filter   button {
  font-size: 1em;
  position: inherit;
}*/

@media (min-width: 995px) {
  body {
    padding-top: 0vh
  }
}

