.deals-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1700px;
  margin: auto;
}

.deal, .deal-show{
  position: relative;
  display: block;

  border: 1px solid grey;
  border-radius: 5px;
  margin: 10px;
  margin-top: 20px;
}

.deal {
  max-width: 450px;
  opacity: 0.8;
}
@media only screen and (max-width: 800px) { .deal{ width: 95%; } }
@media only screen and (max-width: 1200px) and (min-width: 801px) {.deal{width: 45%; } }
@media only screen and (min-width: 1201px) {.deal{width: 30%; } }

.deal:hover{
  opacity:1;
  border: 1px solid black;
}

.deal-left{
  width: 50%;
  float:left;
}
.deal-right{
  width: 50%;
  float:right;
}

.deal a, .deal-show a{
  color: black;
  text-decoration: none;
}

.deal p{
  text-align: right;
}

.deal .provider-image{
  display: block;
  float: left;
  max-width: 25%;

}
.deal-image-div{
  height: 200px;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  }

.deal-show img{
  display: block;
  margin: auto;
  max-width: 100%;
}

.deal .points{
  font-size: 3em;
}

.deal .progressbar-container{
  display: flex;
  position: absolute;
  background-color: #d3d3d3;
  border: 1px solid grey;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
}

.deal .progressbar{
  transition: width .5s;

  text-align: right;
  font-size: xx-small;
  height: 15px;

  background: rgb(0,200,0);
  border: none;
  border-radius: 5px;
}

.deal .progress-percent{
  position: absolute;
  top: 0;
  right: 0;
  font-size: small;
  line-height: 15px;
}

.deal h3, .deal-show h3{
  margin:  0;
}

.deals-filter{
  display: block;
  width: initial;
}


