html, body {
  width: 100%;
  height: 100%;
}
.login-form, .register-form{
  margin-left: 10%;
}

.login-form label, .register-form label{
  font-size: small;
}

.login-form input, .register-form input{
  display: block;
  line-height: 2em;
  font-size: medium;
  width: 50%;
  border: solid grey thin;
  border-radius: 5px;
  margin-bottom: 10px;
}

.login-form input[type='submit']:hover,
.register-form input[type='submit']:hover{
  background-color: #fde0b4;
}