body {

  font-family: 'Lato' !important;
  width: 100%;
  position: relative;
  min-height: 100%;
  padding-top: 18vh
}

.providerDescription {
  max-width: 80%;
}

.pointsBalance, .providerName {
  font-size: 25px;
}

.memberships{
  border-bottom: 1px solid lightgrey;
}
.memberships:hover{
  z-index: 200;
  background-color: #f3f3f3;
}

.reward-container {
  display: flex;
  margin: 2em;
}

@media (min-width: 992px) {
  body {
    /*padding-top: 56px;*/
  }
}

li.row:hover {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #E8E8E8;
}

li.row {
  padding: 20px 10px 20px 10px;
}

.pagination {
  margin-bottom: 15px;
}

button.btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.points {
  font-size: 1.5em;
  font-weight: bold;
  color: orange;
  top: 30px;
  left: 100px;
}

.provider-bootstrap-container {
  margin: auto !important;
}

.provider-image-container{
  max-height: 150px ;
  margin: 20px auto !important;
  display: block;
}

.points-text {
  position: absolute;
  top: 5px;
  left: 5px;
  margin-right: 10px;
}


@media (min-width: 995px) {
  body {
    padding-top: 0vh
  }
}
